.main-wrapper{
    height: 100vh;
}
.top-row{
    height: 10%;
}
.header-image {
    background-image: url("../images/header-image.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}
/* Content area */
.bottom-row{
    height: 90%;
    background-color: #f7f7f7;
}
.layout{
    border-radius: 15px;
    background-color: white;
}

.user-image {
    border-radius: 50px;
    width: 70px;
}

.user-margin{
    margin-top: -86px;
    padding-top: 18px;
}

.address-card{
    color: white;
    padding: 17px;
    border-radius: 8px;
    background-color: #252a34;
    box-shadow: -1px 31px 21px -31px black;
}

.text-end{
    text-align: end !important;
}
